/*change link of you font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* For WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}

/* For Firefox */
::-moz-scrollbar {
  width: 10px;
}

::-moz-scrollbar-track {
  background-color: #f1f1f1;
}

::-moz-scrollbar-thumb {
  background-color: #888;
}

/* Generic scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #bbb9b9;
  border-radius: 30px;
}

::-moz-scrollbar {
  width: 10px;
}

::-moz-scrollbar-track {
  background-color: #f1f1f1;
}

::-moz-scrollbar-thumb {
  background-color: #585252;
  border-radius: 30px;
}






:root {
  --pry-gray: #DCD6F7;
  --pry-brown: #E0B784;
  --pry-bleu: #00C5D7;
}

body {
  background-color: var(--pry-gray);
}

.text-nav-closed {
  writing-mode: vertical-lr;
  font-weight: 600;
  font-size: 1rem;
  padding: 1em;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.text-nav-open {
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

/*hover for nav*/
.text-nav-closed:hover {
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  border-left: 5px solid var(--pry-bleu);
  padding-left: 19px;
  color: var(--pry-bleu);
}

.text-nav-open:hover {
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  border-left: 5px solid var(--pry-bleu);
  padding-left: 19px;
  color: var(--pry-bleu);
}

.active {
  border-left: 5px solid var(--pry-bleu);
  padding-left: 19px;
  color: var(--pry-bleu);
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

.curved-text-container {
  position: relative;
  height: 300px;
  width: 300px;
}

.curved-text {
  position: absolute;
  left: 60%;
  top: 20%;
}

.center-image {
  position: absolute;
  left: 78%;
  top: 38%;
  z-index: 1;
}

@media (min-width: 730px) and (max-width: 1023px) {
  .curved-text {
    left: 50%;
  }

  .center-image {
    left: 68%;
  }
}

@media screen and (max-width: 640px) {
  .curved-text {
    left: 10%;
  }

  .center-image {
    left: 28%;
  }
}

.rotating-curved-text {
  -webkit-animation: spin 8s linear infinite;
  -moz-animation: spin 8s linear infinite;
  animation: spin 8s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.swiper-slide {
  width: 400px !important;
}

@media (min-width: 730px) and (max-width: 1023px) {
  .swiper-slide {
    width: 350px !important;
  }
}

@media screen and (max-width: 640px) {
  .swiper-slide {
    width: 300px !important;
  }
}


/* Tailwind Styles */

/*Hero start*/
.hero-content {
  @apply absolute top-[61%] sm:top-[90%] lg:top-[40%] lg:left-[36%] left-[4%] sm:left-[30%] text-center lg:text-start
}

.hero-name {
  @apply font-bold text-[2.2rem] sm:text-[2.5rem] lg:text-[3.5rem] uppercase tracking-wider
}

.hero-info {
  @apply font-medium text-sm lg:text-base tracking-wide w-[20rem] sm:w-[25rem] lg:w-[29rem] leading-8
}

.box-socail {
  @apply p-2 ml-3 text-xs lg:text-sm rounded-full bg-pry-brown text-white hover:bg-pry-bleu ease-in-out
}

/*Hero end*/
/*about start*/
.about-title {
  @apply font-bold pl-28 sm:pl-80 lg:pl-96 pt-48 lg:pt-40 text-[1.5rem] sm:text-[2rem] lg:text-[3rem] tracking-wide
}

.bg-shadow {
  @apply bg-scnd-gray w-[50%] lg:w-[24%] h-[100%] fixed z-[-5] top-0 right-0 sm:left-16 lg:left-24
}

.about-info {
  @apply font-bold mr-5 py-20 text-sm sm:text-base lg:text-base
}

.about-info-value {
  @apply font-normal sm:text-[0.8rem] sm:text-base lg:text-base
}

.spacing-li {
  @apply px-0 sm:px-4 lg:px-4 py-3 lg:py-1
}

/*about end*/

/*services start */
.box {
  @apply mb-8 pt-14 grid grid-cols-1 lg:grid-cols-2 grid-rows-[auto] gap-10 pl-2 sm:pl-[40%] lg:pl-[35%] pr-16
}

.box-contents {
  @apply bg-white p-10 border-[2px] border-scnd-gray w-[350px] h-[280px] cursor-pointer
}

.box-icon {
  @apply w-14 h-14 bg-pry-gray flex items-center justify-center rounded-full
}

.modal {
  @apply bg-fs-black fixed top-0 left-0 z-[9999] w-full h-full grid justify-center items-center
}

.modal-content {
  @apply w-[290px] h-[430px] sm:w-[600px]  lg:w-[800px] lg:h-[400px] p-5 bg-white overflow-y-scroll
}

.modal-btn {
  @apply absolute right-[-12%] sm:right-[-10%] lg:right-[-8%] top-0 p-1 border-2 border-white rounded-full
}
/* serrivecs end*/
/*start profile*/
.profile-box {
    @apply bg-white p-2 border-[2px] border-scnd-gray w-[350px] h-[280px] cursor-pointer
}
/*end profile*/

/*start contact */
.input-contact {
  @apply w-full bg-transparent px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-pry-bleu
}
/*end contact*/

